#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
body {
  background-color: rgb(94, 86, 97);
}

.read-the-docs {
  color: #888;
}

.cardh {
  border: 0px !important;
}

#icons {
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  transition: 0.5s;
  color: var(--bs-border-color);
  transition: 1s;
}

#icons:hover {
  transition: 1s;
  color: var(--bs-btn-bg);
}

#legal {
  /*font-style: italic;*/
  font-size: 8pt;
}

a:link,
a:visited {
  text-decoration: none !important;
  color: var(--bs-card-color);
}

#bpheader {
  margin-top: -15px;
}

#advmode {
  padding: 2px;
  width: 138px;
  height: 38px;
  margin-bottom: 1rem;
}

.cards:hover {
  border-color: var(--bs-card-color);
  transition: 0.5s;
}

.cardsbg {
  height: 100%;
  width: 100%;
  z-index: -1;
}

#blueprintHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 5px;
  border-color: var(--bs-border-color);
  border-style: solid;
  width: 100%;
  border-width: 1px;
  margin-bottom: 15px;
  font-size: var(--bs-body-font-size);
  padding: 15px;
}

#topcard {
  border-bottom: 1px solid;
  border-color: var(--bs-border-color);
  padding: 5px;
}

img,
svg {
  border-radius: 3px !important;
}

#button-top {
  width: 140px !important;
}

#propimage {
  width: 150px;
}

#propvolume {
  text-align: left;
}

#matsdiv {
  margin-bottom: 20px;
  font-size: 20px;
}

#menuleft {
  background-color: rgba(var(--bs-body-color-rgb), 0.03) !important;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

#HukuBartopolos {
  background-color: var(--bs-body-bg);
  font-size: var(--bs-body-font-size);
  padding: 15px;
  border-radius: 5px;
}

.col-9 {
  width: 83% !important;
}

#animateddiv {
  font-size: 0.75rem;
}

td {
  vertical-align: middle !important;
}

th {
  vertical-align: middle !important;
}

#start-message {
  font-size: 1rem;
  margin-top: 20px;
}

input,
optgroup,
select,
textarea {
  font-size: 0.75rem !important;
}

tr {
  transform: 1s !important;
}

#fof {
  font-size: 170px;
}

#video {
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}

#dots {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  background: radial-gradient(rgba(255, 255, 255, 0.1) 5%, transparent 10%);
  background-size: 1.5vmin 1.5vmin;
}

#apbuy {
  color: #22babb;
  font-size: 2.2rem;
}

#apsel {
  color: #fa7f08;
  font-size: 2.2rem;
}

#apaverage {
  color: #de08fa;
  font-size: 2.2rem;
}

#apvolume {
  font-size: 2.2rem;
}

#apholddiv {
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

#apmaindiv {
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

.positiveprice {
  color: #22babb;
}

.negativeprice {
  color: #fa7f08;
}

#build_select,
#rig_select,
#system_select,
#bp_bn,
#bp_quantity,
#bp_me,
#bp_build,
#bp_rig,
#bp_system,
#bp_ft,
#bp_count,
#bp_market,
#ft_select {
  margin-top: 5px;
}

#ft_select {
  margin-bottom: 1rem;
}

.dropdown-item {
  font-size: 10px;
}

.bg-body-tertiary {
  border-radius: 5px;
}

/* Navbar Background & Padding */
.navbar-custom {
  padding: 1rem;
}

/* Brand Name Styling */
.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navbar Links (Keep them on the Left) */
.nav-item {
  font-size: 1.1rem;
  margin-right: 5px; /* Adds spacing between links */
  transition: color 0.3s ease-in-out;
}

/* Ensure dark mode toggle stays aligned right */
.navbar-custom .ms-auto {
  display: flex;
  align-items: center;
}

#homebox {
  padding: 15px;
}

#alert-container-box {
  width: 100%;
  padding: 15px;
  margin-bottom: -25px;
}

#akwarddiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -6px;
}

#akwardspan {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 13px;
  border: 1px solid;
  padding: 15px;
  border-color: var(--bs-border-color);
  border-radius: 5px;
}

#appraisalformtop {
  display: flex;
  width: 100%; /* Adjust as needed */
  padding: 20px;
  margin-bottom: -20px;
}
#appraisalformleft {
  width: 50%;
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
  border-radius: 15px 0px 0px 15px;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}
#appraisalformmid {
}
#appraisalformright {
  width: 50%;
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
  border-radius: 0 15px 15px 0px;
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

#appraisalcontainer {
  align-items: center;
  display: flex;
}

#appraisalformelements {
  align-items: center;

  margin-right: 10px;
  margin-bottom: 10px;
  width: 40%;
}

#appraisalformmid {
  display: flex;
  width: 100%; /* Adjust as needed */
  padding: 20px;
  margin-bottom: 10px;

  margin-top: 10px;
}

#appraisalformresult {
  padding: 20px;
}

#appraisalText {
  min-height: 100px;
  resize: vertical;
  width: 100%;
  padding: 20px;
  border-radius: 15px 0px 0px 15px;
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
}

#appraisalComment {
  min-height: 100px;
  resize: vertical;
  width: 100%;
  padding: 20px;
  border-radius: 0 15px 15px 0px;
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
}

#appraisaltextleft {
  width: 49%;

  box-sizing: border-box;
  margin-right: 2%;
}
#appraisalcommentright {
  width: 49%;

  box-sizing: border-box;
}

#appraisaltable {
  padding: 20px;
}
#appraisaltop {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
}
#appraisalvolumebuy,
#appraisalvolumeaverage,
#appraisalvolumesell,
#appraisaltopbuy,
#appraisaltopsplit,
#appraisaltopsell,
#appraisaltopvolume {
  margin-right: 5px;
}

#appraisaltopvolume {
  margin-right: 45px;
}

#appraisaltd {
  height: 20px;
  padding: 1px;
}
